*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Fredoka One', cursive;
}

.intro-page {
  background-image: url('../../images/game-show-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  text-align: center;
  z-index: 10;
}

.heading {
  font-size: 8em;
  margin-bottom: 30px;
  margin-top: 0px;
}

.form--names {
  margin: 0px auto;
  width: 800px;
}

.enter-names {
  font-size: 2.5em;
  margin: 10px 0px;
}

.name-input-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  vertical-align: middle;
  width: 687px;
}

.name-input-label {
  font-size: 2em;
  margin-right: 10px;
}

.name-input {
  height: 40px;
  width: 500px;
}

.button {
  font-size: 2em;
  height: 100px;
  margin: 15px 0px;
  width: 300px;
}

.gameplay {
  background-image: url('../../images/creepy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  text-align: center;
  z-index: 1;
}