*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: black;
  color: white;
  font-family: 'Lacquer',
    sans-serif;
}

.intro-page {
  background-image: url('../../images/clown.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  z-index: 10;
  height: 100vh;
}

.heading {
  font-size: 7.5em;
  margin-bottom: 30px;
  margin-top: 0px;
}

.form--names {
  margin: 0px auto;
  width: 800px;
}

.enter-names {
  font-size: 2.5em;
  margin: 10px 0px;
}

.name-input-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  vertical-align: middle;
  width: 687px;
}

.name-input-label {
  font-size: 2em;
  margin-right: 10px;
}

.name-input {
  height: 40px;
  width: 500px;
}

.button {
  color: white;
  font-size: 1.8em;
  height: 100px;
  margin: 15px 0px;
  width: 300px;
}

.button:disabled {
  cursor: default;
  opacity: 0.2;
}

.button:enabled:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.button:active {
  border-color: red;
  color: red;
}

.gameplay {
  background-image: url('../../images/intro-circus.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  z-index: 1;
}

.game-section {
  display: flex;
  height: 309px;
  justify-content: space-around;
}

.wheel {
  animation: scroll infinite;
  height: 220px;
  margin: auto;
  overflow: auto;
  scroll-behavior: smooth;
  width: 150px;
}

.wedge {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 4px solid;
  border-top: 4px solid;
  border-right: 2px solid;
  border-left: 2px solid;
  text-align: center;
  display: flex;
  font-size: 2em;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 220px;
}

.death-wedge {
  background-color: black;
  font-size: 1em;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
  /* make scrollbar transparent */
}

.board-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 75%;
}

.board {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 10px;
  margin: 20px 0px;
}

.word {
  margin-right: 60px;
}

.character {
  background-color: white;
  border: black 5px solid;
  color: black;
  display: inline-block;
  font-size: 2em;
  height: 70px;
  margin: 5px;
  transition: background 0.5s linear;
  width: 55px;
}

.space {
  background-color: white;
}

.hidden {
  background-color: black;
  border-color: white;
  color: black;
}

.cat-round-wrapper {
  display: flex;
}

.category {
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid black;
  font-size: 2em;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 20px;
  width: 75%;
}

.round {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  display: flex;
  font-size: 2em;
  justify-content: center;
  margin-bottom: 15px;
  vertical-align: middle;
  width: 25%;
}

.player-section {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.player {
  opacity: 0.2;
}

.current-player {
  opacity: 1;
}

.player-name {
  font-size: 2em;
  margin: 20px 0px 5px 0px;
}

.player-score {
  margin: 5px 0px;
}

.player-total-score {
  margin: 5px 0px 20px 0px;
}

.button {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  cursor: pointer;
  font-size: 2em;
}

.letter-section {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  padding: 15px 5px;
}

.pick-letter {
  opacity: 0.3;
  pointer-events: none;
}

.ready-to-pick {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}

.picked {
  opacity: 0;
  pointer-events: none;
}

.pick-letter:hover {
  transform: scale(1.2);
}

.pick-letter:active {
  color: red;
}

.quit-screen,
.end-screen {
  background: url('../../images/quit.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  z-index: 20;
}

.player-quit,
.player-end {
  font-size: 3em;
  margin-top: 0px;
  padding-top: 20px;
}

.button--new-game {
  display: flex;
  margin: auto;
}

.solve-puzzle {
  border: 2px solid white;
  display: none;
  height: 250px;
  position: absolute;
  right: 7%;
  top: 62%;
  width: 1000px;
  z-index: 100;
}

.input--solve-puzzle {
  background: black;
  color: white;
  font-size: 2em;
  height: 75%;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.button--solve-puzzle {
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1.8em;
  height: 25%;
  width: 100%;

  &:hover {
    color: red;
  }

}